body{
    background-color: #101010;
    color: #fff;
}
body, html{
    font-family: Pretendard;
}
a{
    text-decoration: none;
}
#wrap, .container {
    position: relative;
}
.navBar .logoBoxs {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    padding-left: 50px;
}
header {
    height: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 100px);
    z-index: 99999998;
}
.navBar {
    align-items: center;
    background-color: #0000;
    background-color: #000;
    box-sizing: initial;
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}
.navBar .navLists, .navBar .navLists li {
    align-items: center;
    display: flex;
    justify-content: center;
}
.navBar .navLists {
    flex-direction: row;
    height: 100%;
    margin: 0 auto;
}
.navBar .navLists li {
    border-radius: 30px;
    color: #fff;
    margin: 0 100px;
}
.navBar .navLists, .navBar .navLists li {
    align-items: center;
    display: flex;
    justify-content: center;
}
.navBar .logoBoxs {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    padding-left: 50px;
}
.navBar .logoBoxs img{
    height: 120px;
}